services:
  - type: web
    name: wildlive
    region: frankfurt
    runtime: node
    plan: free
    rootDir: wildlive
    buildCommand: mkdir -p lib && cp /etc/secrets/vendor.js lib/vendor.js && bun install --production && bun run build:client
    startCommand: bun run start
    healthCheckPath: /
    envVars:
      - key: BUN_VERSION
        value: "1.3.8"
      - key: PORT
        value: "10000"
      - key: WATCHER_URL
        value: "https://inaturalist-watcher.onrender.com"
      - key: NATS_URL
        fromService:
          name: nats
          type: pserv
          property: hostport

  - type: web
    name: inaturalist-watcher
    region: frankfurt
    runtime: node
    plan: free
    rootDir: inaturalist-watcher
    buildCommand: bun install --production
    startCommand: bun run start
    healthCheckPath: /last-observations
    envVars:
      - key: BUN_VERSION
        value: "1.3.8"
      - key: PORT
        value: "10000"
      - key: NATS_URL
        fromService:
          name: nats
          type: pserv
          property: hostport

  - type: pserv
    name: nats
    region: frankfurt
    runtime: image
    plan: starter
    image:
      url: docker.io/library/nats:2.12-alpine
